.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    display: inline-block;
    padding: 4px 8px;
    width: 128px;
    text-align: center;
    border: 2px solid $light;

    &:focus,    
    &:hover {
        border: 2px dashed $primary;
    }
}
.button {
    background-color: $highlight;
    &:focus,    
    &:hover {
        color: $light;
        background: $primary;
    }
    
}

section {
    padding: 4vh 0;
}

