// About section

.about {
    // CUT TO MEDIA QUERY LATER
    // width: 95%;
    // max-width: 1000px;
    // padding: 0.5vh;
    // margin: 0 auto;
    // border: 3px dashed $primary;

    border-top: 5px dashed $primary;
    border-bottom: 5px dashed $primary;
}

.aboutText,
.skills {
    padding: 2vh 0;
}

.aboutText {
    background: $secondary;
} // .aboutText END

.skills {
    background: $primary;
    color: $light;

    ul {
        list-style-type: disc;
        list-style-position: outside;
        column-count: 3;
        column-width: 150px;
        padding: 0 2.5%;
    }

    li::marker {
        color: $highlight;
    }

    li {
        padding: 5% 0;
    }
} // .skills END

// Project Section

.projects {
    h4 {
        color: $primary;
    }

    ul {
        display: flex;
    }

    li {
        margin-right: 24px;
    }

    .projectText {
        a.inLine {
            display: inline;
            padding: inherit;
        }

        
    }
} // .projects END

// Contact section
.contact {
    background: $tertiary;
} // .contact END

// Footer section

footer {
    background: $primary;
    color: $light;
}