// About section

.about {
    border-top: 5px dashed $primary;
    border-bottom: 5px dashed $primary;
}

.aboutText,
.skills {
    padding: 2vh 0;
}

.aboutText {
    background: $secondary;
} // .aboutText END

.skills {
    background: $primary;
    color: $light;

    ul {
        list-style-type: disc;
        list-style-position: outside;
        column-count: 3;
        column-width: 150px;
        padding: 0 2.5%;
    }

    li::marker {
        color: $highlight;
    }

    li {
        padding: 5% 0;
    }
} // .skills END

// Project Section

.projects {

    .wrapper,
    .projectGallery {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projectGallery {
        width: 100%;
        max-width: 1000px;
    }

    h2 {
        align-self: flex-start;
    }

    h4 {
        color: $primary;
    }

    ul {
        display: flex;
    }

    .button {
        margin-top: 24px;
    }

    .projectContainer {
        background: $light;

        padding: 24px 10px;
        margin: 2.5vh 0;
        width: 90%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        

    }

    .projectImg {
        width: 90%;
        display: flex;
        justify-content: center;

        img {
            padding: 5px;
            border: 1px dashed $primary;
        }
    }


    .projectText {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px 0;

        a.inLine {
            display: inline;
            padding: inherit;
        }

        .button {
            align-self: center;
        }

        
    }
} // .projects END

// Contact section
.contact {
    background: $tertiary;
    border-top: 5px solid $primary;

    .contactText {
        display: flex;
        flex-direction: column;
    }

    ul {
        display: flex;
        justify-content: flex-end;
    }

    a {
        border: 2px solid $tertiary;
    }

    i {
        &:focus,    
        &:hover {
        border: 2px dashed $primary;
        }
    }
} // .contact END

// Footer section

footer {
    background: $primary;
    color: $light;

   
}